/node_modules
/node_modules.orig
/resources.orig
/public.orig
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
package-lock.orig.json
package.orig.json
/.idea
/.vscode
.DS_Store
public/.DS_Store
public/css/.DS_Store
public/media/.DS_Store
resources/.DS_Store
resources/views/.DS_Store
storage/clockwork/
